<p-toast></p-toast>
<p-dialog header="Rejection Reason" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000">
    Please Provide A reson for Rejecting
    <div class="p-col-2">
        <label for="CRAccount">Reason</label>
        <input id="ChequeNumber" type="text" [(ngModel)]="DepositSlip.payeeName" pInputText>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="No"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<div class="p-grid nested-grid sample-layout">
    <div class="p-col-12 p-md-12  p-col-nogutter">
        <div class="p-col-12 p-col-nogutter">
            <button pButton (click)="reject()" type="button" label="Reject" class="ui-button-danger"></button>
            <button pButton (click)="accept()" type="button" label="Accept" class="ui-button-primary"></button>
        </div>
        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col-4"><img *ngIf="imageUrl"
                        [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[1])" alt="..."
                        style="width:100%" height="393px"></div>
                <div class="p-col-4"><img *ngIf="imageUrl"
                        [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[2])" alt="..."
                        style="width:100%" height="393px"></div>
                <div class="p-col-4">
                    <p-card *ngIf="SelectedCheque" header="Summary" styleClass="ui-card-shadow">
                        <div>
                            <h3>Account Name: {{SelectedCheque.payeeName}}</h3>
                        </div>
                        <div>
                            <h3>Currency: KES</h3>
                        </div>
                        <div>
                            <h3>Status:ACTIVE</h3>
                        </div>
                        <div>
                            <h3>Depositors Account: {{SelectedCheque.depositorsAccount}}</h3>
                        </div>
                        <div>
                            <h3>Depositors Branch: {{SelectedCheque.depositorsBranch}}</h3>
                        </div>
                        <div>
                            <h3>Captured By:{{SelectedCheque.transactionCapturedBy}}</h3>
                        </div>
                        <div>
                            <h3>Captured On:{{SelectedCheque.transactionCaptureDate}}</h3>
                        </div>
                    </p-card>
                </div>

            </div>
        </div>
        <div class="p-col-8">
            <p-table [columns]="cols" [value]="ScannedCheques" selectionMode="single" [(selection)]="SelectedCheque"
                (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div style="text-align: left">
                        Selected Cheque:
                        {{SelectedCheque ? SelectedCheque.accountNumber + ' - ' + SelectedCheque.serialNumber : 'none'}}
                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>