<div class="login-wrapper">
    <div class="login-card">
        <p-card  styleClass="ui-card-shadow">
            <p-header>
                <i class="pi pi-user" style="font-size: 5em"></i>
            </p-header>
            <div class="p-grid ui-fluid">
                <div class="p-col-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
                </div>
                
                <div class="p-col-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                        <input type="password" pInputText placeholder="Password">   
                    </div>
                </div>
            </div>
            <p-footer>
                <button pButton type="button" label="Log In" style="margin-right: .25em"></button>
            </p-footer>
        </p-card>
    </div>
</div>