<p-toast></p-toast>
<p-dialog header="Error" [(visible)]="displaySaveError" [modal]="true" [style]="{width: '50vw'}"
[baseZIndex]="10000">
    Error Occured while Saving
    <p>Error Message: {{errorMessage}}</p>
</p-dialog>
<p-dialog header="Error" [(visible)]="displaySaveSuccess" [modal]="true" [style]="{width: '50vw'}"
[baseZIndex]="10000">
    Success!!
    <p>Successfully Captured: {{ScannedCheques.length}} Cheque(s)</p>
</p-dialog>
<div class="p-grid nested-grid sample-layout">
    <div class="p-col-12 p-md-12  p-col-nogutter">
        <div class="p-col-12 p-col-nogutter">
            <button pButton (click)="connectScanner()" type="button" label="Connect" class="ui-button-primary"></button>
            <button pButton [disabled]="!ready" (click)="initializeScanner()" type="button" label="Initialize Scanner"
                class="ui-button-primary"></button>
            <button pButton (click)="scan()" [disabled]="!initialized" type="button" label="Scan"
                class="ui-button-primary"></button>
            <button pButton [disabled]="batchBalancing()" (click)="saveBatch()" type="button" label="Save Batch" class="ui-button-success"></button>
        </div>
        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col-4"><img *ngIf="imageUrl"
                        [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[1])" alt="..."
                        style="width:100%" height="393px"></div>
                <div class="p-col-4"><img *ngIf="imageUrl"
                        [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[2])" alt="..."
                        style="width:100%" height="393px"></div>
                <div class="p-col-4">
                    <p-table [columns]="cols" [value]="ScannedCheques" selectionMode="single"
                        [(selection)]="SelectedCheque" (onRowSelect)="onRowSelect($event)">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div style="text-align: left">
                                Selected Cheque:
                                {{SelectedCheque ? SelectedCheque.accountNumber + ' - ' + SelectedCheque.serialNumber : 'none'}}
                            </div>
                        </ng-template>
                    </p-table>
                </div>

            </div>
        </div>
        <div class="p-col-8">
            <div class="p-grid ui-fluid">
                <div class="p-col-2">
                    <label for="ChequeNumber">Cheque Number</label>
                    <input id="ChequeNumber" type="text" [(ngModel)]="SelectedCheque.serialNumber" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="BankCode">Bank Code</label>
                    <input id="BankCode" type="text" [(ngModel)]="SelectedCheque.sortCode" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="ChequeType">Type</label>
                    <input id="ChequeType" type="text" [(ngModel)]="SelectedCheque.voucherType" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="AccountNumber">Account</label>
                    <input id="AccountNumber" type="text" [(ngModel)]="SelectedCheque.accountNumber" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="Amount">Amount</label>
                    <input id="Amount" type="number" [(ngModel)]="SelectedCheque.amount" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="Narration">Narration</label>
                    <input id="Narration" type="text" [(ngModel)]="SelectedCheque.narration" pInputText>
                </div>
            </div>
        </div>
        <div class="p-col-8">
            <h2><strong>Depositor Details</strong></h2>
            <div class="p-grid ui-fluid">
                <div class="p-col-2">
                    <label for="CRAccount">Account</label>
                    <input id="ChequeNumber" type="text" [(ngModel)]="DepositSlip.depositorsAccount" pInputText>
                </div>
                <div class="p-col-1">
                    <label for="CRBranchCode">Branch</label>
                    <input id="CRBranchCode" type="text" [(ngModel)]="DepositSlip.depositorsBranch" pInputText>
                </div>
                <div class="p-col-2">
                    <label for="CRAmount">Amount</label>
                    <input id="CRAmount" type="number" [(ngModel)]="batchTotal" pInputText>
                </div>
                <div class="p-col-7">
                    <label for="CRNaration">Naration</label>
                    <input id="CRNaration" type="text" [(ngModel)]="DepositSlip.depositorsNarration" pInputText>
                </div>
                <div>
                    <p-card header="Account Query Results" subheader="Account Information" 
                        styleClass="ui-card-shadow">
                        <div>
                            <h3>Account Name:</h3>
                        </div>
                        <div>
                            <h3>Currency:</h3>
                        </div>
                        <div>
                            <h3>Status:</h3>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>