<p-toast></p-toast>
<div class="container">
    <button (click)="connectScanner()" type="button" class="btn btn-primary">Connect</button>
    <button [disabled]="!ready" (click)="initializeScanner()" type="button" class="btn btn-primary">Initialize
        Scanner</button>
    <button (click)="scan()" [disabled]="!initialized" type="button" class="btn btn-primary">Scan</button>
    <button (click)="showInfo()"  type="button" class="btn btn-success">Save Batch</button>
</div>
<div class="clearfix">
    <img *ngIf="imageUrl" class="rounded float-left" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[1])"
        alt="..." width="696px" height="393px">
    <img *ngIf="imageUrl" class="rounded float-left" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+imageUrl[2])"
        alt="..." width="696px" height="393px">
</div>
<div>
    <p-table [columns]="cols" [value]="ScannedCheques" selectionMode="single" [(selection)]="SelectedCheque" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align: left">
                Selected Cheque: {{SelectedCheque ? SelectedCheque.accountNumber + ' - ' + SelectedCheque.serialNumber : 'none'}}
            </div>
        </ng-template>
    </p-table>
</div>
