<div class="wrapper">
  <header>
    <div class="left">
      <button id="menu" title="Menu"><i class="fa fa-bars fa-2x"></i></button>
      <h1>C2B</h1>
    </div>

    <div class="utils right">
      <a href="#" class='alerts'><i class="fa fa-bell-o fa-lg"></i></a>
      <i class="sep">&nbsp;</i>
      <a href="#"><i class="fa fa-life-ring fa-lg"></i></a>
    </div>
  </header>
  <!--//Header-->
  <div class="content">
    <aside>
      <h2>CORPORATE TO BANK</h2>
      <div class="controls">
        <input type="search" id="search" name="search" />
        <label for="search"><i class="fa fa-search"></i></label>
      </div>
      <nav class='site-nav'>
        <a routerLink="Capture" class="active" href="#"><i class="fa fa-home"></i> Cature Outwards</a>
        <a routerLink="Authorize"><i class="fa fa-gift"></i> Authorize Outwards</a>
        <a routerLink="Export"><i class="fa fa-line-chart"></i> Generate Outwards</a>
        <a href="#"><i class="fa fa-bell-o"></i> Notifications</a>
      </nav>
      <footer>
        <a href="" class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"
            alt="" />Admin</a>
        <a href=""><i class="fa fa-sign-out fa-rotate-180"></i> Logout</a>
      </footer>
    </aside>
    <!--//sidebar-->
    <section>
      <router-outlet></router-outlet> 
    </section>
   
    <!--//body content-->
  </div>
  <!--//Main Content-->
</div>